*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: #152237;
    color: #dddddd;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}